{% extends "layout.html" %}
{% set active_page="home" %}
{% block title %} Info {% endblock %}

{% block content %}
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                <td> General Overview of Airline Data </td>
                <td> The data includes info about the number, length, type of delays, and the airline. The reported information is coming from every major airport of every carrier. </td>
                <td> <a href="https://www.rita.dot.gov/bts/help/aviation/html/understanding.html"> Late Flight Info </a> </td>
            </tr>
            <tr>
                <td> How is data regarding whether a flight is late or not, collected? </td>
                <td> Airlines report, since 2003, the data involving delays and the things that caused them to the Bureau of Transportation Statistics. </td>
                <td> <a href="https://www.rita.dot.gov/bts/help/aviation/html/understanding.html#q1"> Late Flight Info </a> </td>
            </tr>
            <tr>
                <td> How many flights were really delayed by weather? </td>
                <td> To figure this out you need to first look combine the data collected about the weather related delays with the NAS weather category. Next, determine if the delay falls into the "late-arriving aircraft" category. Since airlines don't give the reasoning behind an aircraft falling into the late-arriving aircraft category, the cause can sometimes be determined by relating it to the weather. </td>
                <td> <a href="https://www.rita.dot.gov/bts/help/aviation/html/understanding.html#q7"> Flights Delayed By Weather </a> </td>
            </tr>
            <tr>
                <td> When was this data collected? </td>
                <td> 2003 to 2015 </td>
                <td> <a href="https://www.rita.dot.gov/bts/help/aviation/html/understanding.html"> Data Collection Range </td>
            </tr>
            <tr>
                <td> Why aren’t all weather-related delays reported as a single number? </td>
                <td> It provides a better picture as to what affect the weather really had. </td>
                <td> <a href="https://www.rita.dot.gov/bts/help/aviation/html/understanding.html#q8"> Weather Delays </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
