{% extends "layout.html" %}
{% set active_page ="most_delays" %}
{% block title %} Most Delays {% endblock %}

{% block content %}

<p> Select an airport to see how many delays it has had siince 2003. </p>

<form action=".">
     <select name="Airport">
       {{ response_airport_list }}
     </select>
     <br><br>
     <input type="submit">
</form>
     {% if response_airport and response_delays is defined %}
       <p> {{ response_airport }} has had {{ response_delays }} delays. </p>
     {% endif %}

{% endblock %}
