{% extends "layout.html" %}
{% set active_page ="most_delays" %}
{% block title %} Most Delays {% endblock %}
{% block jscss %}
    <script src="{{url_for('static',filename='most_delays.js')}}"></script>
{% endblock %}

{% block content %}
    <div align="center">

        <h1> See how many delays each airport has had each year. </h1>
        <br></br>
        <form action="most_delays">
             <select name='Airport'>
               {{ response_airport_list }}
             </select>
             <select name='Year'>
                 {{ response_years }}
             </select>
             <br><br>
             <input type="submit">
        </form>
        <br></br>
        {% if response_airport and response_delays and response_year is defined %}
            <p> {{ response_airport }} had {{ response_delays["total_delays"] }} delays in {{ response_year }}. </p>



        <script type="text/javascript">
            window.onload = function () {

            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
            	title: {
            		text: "Reasons For Delays"
            	},
            	data: [{
            		type: "doughnut",
            		innerRadius: "40%",
            		showInLegend: true,
            		legendText: "{label}",
            		indexLabel: "{label}: #percent%",
            		dataPoints: [
            			{ label: "Late Aircraft", y: {{ response_delays["late_aircraft"] }} },
            			{ label: "Weather", y: {{ response_delays["weather"] }} },
            			{ label: "Security", y: {{ response_delays["security"] }} },
            			{ label: "National Aviation System", y: {{ response_delays["national_aviation_system"] }} },
            			{ label: "Carrier Related", y: {{ response_delays["carrier"] }} }
            		]
            	}]
            });
            chart.render();
            }
        </script>
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"> </script>
        {% endif %}
    </div>


{% endblock %}
